<div class="card admin-table-product admin-featured-spacing">
    <!-- Product ID -->
    <p class="productID">@productId</p>

    <!-- Product Name -->
    <div class="product">
        <!-- Change the background-image url to change the image -->
        <!--<div class="image" style="@productImg"></div>-->
            <img class="image" src="@productImg" alt="@productName" />
        <h6>@productName</h6>
    </div>

    <!-- Product Details -->
    <p class="brand">@productBrand</p>
    <p class="category">@productCategory</p>
    <p class="type">@productType</p>

    <!-- Product Options 
    If the product is featured, add a 'featured' class to the div.
    If the product is NOT featured, add a 'unfeatured' class to the div.

    E.g. <div class="actions options featured"> (Featured)
    E.g. <div class="actions options unfeatured"> (Not Featured)
    -->
    <div class="actions options">
        <button class="add-featured"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M95.45,39A8,8,0,0,0,89,33.53l-21.8-3.46-10-19.65a8.08,8.08,0,0,0-14.41,0l-10,19.65L11,33.53A8.09,8.09,0,0,0,6.52,47.24l15.6,15.61L18.67,84.64a8.08,8.08,0,0,0,11.67,8.47L50,83.1l19.66,10a8.1,8.1,0,0,0,11.67-8.47l-3.45-21.8,15.6-15.61a8.05,8.05,0,0,0,2-8.21ZM69.16,57.67a4.9,4.9,0,0,0-1.37,4.24l3.3,20.9-18.85-9.6a4.85,4.85,0,0,0-4.45,0l-18.86,9.6,3.31-20.9a4.9,4.9,0,0,0-1.38-4.24l-15-15,20.9-3.31a4.92,4.92,0,0,0,3.61-2.62L50,17.91l9.62,18.86a4.91,4.91,0,0,0,3.61,2.62l20.9,3.31-15,15Z" /></svg></button>
        <button class="remove-featured"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M93.48,47.23,77.88,62.84l3.45,21.8a8.1,8.1,0,0,1-11.67,8.47L50,83.1l-19.66,10a8.09,8.09,0,0,1-11.67-8.47l3.45-21.79L6.52,47.24A8.09,8.09,0,0,1,11,33.53l21.79-3.46,10-19.65a8.08,8.08,0,0,1,14.41,0l10,19.65L89,33.53a8.09,8.09,0,0,1,4.45,13.7Z" /></svg></button>

    </div>
</div>


@code {
    @code {
        [Parameter] public int productId { get; set; }
        [Parameter] public string productName { get; set; }
        [Parameter] public string productBrand { get; set; }
        [Parameter] public string productCategory { get; set; }
        [Parameter] public string productType { get; set; }
        [Parameter] public string productImg { get; set; }
    }
}
